// - - Parallax slide
div id="banner" class="parallax-container"
  div class="parallax"
    img src="/images/scparallax.jpg"
  div class="row"
    div class="col s12 slide-text"
        h1 awesome software development
        p creativity is intelligence having fun!

// - - why us section
section id="whyus" class="grey lighten-3"
  div class="container"
    div class="row fixmargin"
      div class="col s12"
        h3
          | Why will you 
          i class="small material-icons blueSC" favorite
          == " us?"
        p class="center-align"
          | Because we don't stop at good. We deliver excellence.

  div class="row grey lighten"
    div class="col s6 offset-s3"
      p class="info-why-us center-align"
        | We have no geographical limitations. We work remotely allowing us hire the best talent at the international level found.

  div class="container whyus-grid"
    div class="row"
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/icon-quality.png"
        p La calidad es m&aacute;s importante que la cantidad.
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/icon-time.png"
        p El tiempo es nuestro recurso m&aacute;s preciado.
      div class="col m4 l4 center-align"
        img src="/images/icons/icon-software.png"
        p El software debe ser simple. Dar valor y deleitar a los usuarios.
    div class="row border-top"
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/icon-star.png"
        p Nos aseguramos estar al frente de la innovaci&oacute;n y tecnolog&iacute;as de esta era.
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/icon-user.png"
        p Desarrollamos nuestras habilidades y creamos herramientas de alta calidad.
      div class="col m4 l4 center-align"
        img src="/images/icons/icon-ux.png"
        p Prestamos mucha atenci&oacute;n a la experiencia de usuario.

// - - ourteam section
section id="ourteam"
  div class="row generalrow"
    div class="col s6 offset-s3"
      h4 class="white-text" A successful team beats with one heart
      p class="white-text center-align" Together we can do so much
  div class="row"
    div class="col s3"
      img class="responsive-image" src="/images/team/ivan.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/bellatrix.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/hugo.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/cibeles.jpg"
  div class="row"
    div class="col s3"
      img class="responsive-image" src="/images/team/manuel.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/genesis.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/daniel.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/karina.jpg"
  div class="row"
    div class="col s3"
      img class="responsive-image" src="/images/team/clara.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/rafael.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/antonieta.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/danielc.jpg"
  div class="row"
    div class="col s3"
      img class="responsive-image" src="/images/team/jorge.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/mara.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/jhoynerk.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/mariale.jpg"
  div class="row"
    div class="col s3"
      img class="responsive-image" src="/images/team/eugenio.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/fremberling.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/tony.jpg"
    div class="col s3"
      img class="responsive-image" src="/images/team/felix.jpg"

// - - Our Process section
section id="ourprocess"
  div class="row"
    div class="col s6 offset-s3"
      h4 class="center-align" How our process works
      p class="center-align" Our methodology allows us to provide value to the project.
  div class="process"
    div class="grey lighten-5"
      div class="valign-wrapper processimage"
        img src="/images/ourprocess.png"

// - - testimonials section
section id="testimonials" class="grey lighten-4 clearfix"
  div class="row"
    div class="col s6 offset-s3"
      h4 class="center-align"
        | Why our clients 
        i class="small material-icons blueSC" favorite
        == " us"
      p class="center-align" We work with technologies that ensure innovation

  div class="row"
    div class="col s8 offset-s2"
      div class="slider"
        ul class="slides"
          li
            div class="caption center-align"
              h5 class="text-grey darken-4"
                | "Looks very professional, you guys are taking my vision to a whole different level! I love it!"
              h6 class="light text-grey darken-4" Patrick Kane, Hubble
          li
            div class="caption center-align"
              h5 class="text-grey darken-4"
                | "This is absolutely awesome! And it is going to save my team literally hundreds of hours of time compiling and comparing lists."
              h6 class="light text-grey darken-4" Corey Black, Green Light Tours
          li
            div class="caption center-align"
              h5 class="text-grey darken-4"
                | "THANK YOU!!! You have no idea how much I appreciate your hardwork and dedication to getting everything up and running."
              h6 class="light text-grey darken-4" Jody Holmes, Conexus Technologies
          li
            div class="caption center-align"
              h5 class="text-grey darken-4"
                | "Great job on this project, I'm glad we were able to work together to create the app. Please tell the rest of the team great job!"
              h6 class="light text-grey darken-4" Kevin Kim, Chowsome

== partial :'_footer_index'

javascript:
  $(document).ready(function(){
    smoothScroll.init();
    $('.parallax').parallax();
    $('.slider').slider({full_width: true});
    $(".button-collapse").sideNav();
  });