// - - Parallax slide
div id="banner" class="parallax-container"
  div class="parallax"
    img src="/images/ourservices.jpg"
  div class="row"
    div class="col s12 slide-text"
        h1 every business has a story

// - - ourservices section
section id="ourservices" class="bgSC"
  div class="row white"
    div class="col s6 offset-s3"
      h3 class="center-align" Software Criollo Services
      p class="center-align" We will work with you to take your project from idea to reality

  div class="container services-grid"
    div class="row white-text"
      div class="col m4 l4 center-align"
        img src="/images/icons/webapps.png"
        h5 Web apps
        p We build web apps from scratch to address your business needs.
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/mobileapps.png"
        h5 Mobile apps
        p Have an idea? We would love to create your next iOS or Android app
      div class="col m4 l4 center-align"
        img src="/images/icons/design.png"
        h5 Design
        p Our expertise in ux/ui design will definitely make an impact in your project.
    div class="row border-top white-text"
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/maintenance.png"
        h5 Maintenance
        p Was your project completed successfully but you need maintenance of the system?
      div class="col m4 l4 center-align border-right"
        img src="/images/icons/bughunting.png"
        h5 Bug hunting
        p Already have an app and would like to fix some bugs and improve its code? We are really good at this specific missions.
      div class="col m4 l4 center-align"
        img src="/images/icons/functionaltesting.png"
        h5 Functional testing
        p We assure that the quality of all projects is the best possible.

== partial :'_footer_other'