/*!
 * SoftwareCriollo (http://www.softwarecriollo.com)
 * Copyright 2016 SoftwareCriollo
 */

 /*** General ***/
 html {position: relative; min-height: 100%;}
 .bg-gray-light {background-color: #eee;}
 body.with-footer {margin-bottom: 56px; background-color: #eee;}
 .footer {position: absolute; bottom: 0; width: 100%;}
 .generalrow .container .valign-wrapper .col h3 {font-size: 2.9rem;}
 .detect-footer-index {min-height: 135px; width: 100%; background-color: #f5f5f5;}
 nav {background-color: transparent; position: relative;  z-index: 2; box-shadow: none;}
 nav ul a {font-size: 1.1rem; text-transform: uppercase;}
 nav ul a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 11px;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: none;
  z-index: 1;
 }
 nav ul.right.hide-on-med-and-down a:hover {background-color: #3e466e;}
 nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  padding: 0 11px;
  margin-left: 4px;
  margin-right: 4px;
 }
 nav .nav-wrapper .button-collapse i {margin-left: 10px;}
 #sidenav-overlay {z-index: 0;}
 .side-nav a.btn {color: white;}
 footer .generalrow {padding: 3% 0;}
 footer .footer-copyright {background:#343434; padding: 20px 0 16px; color:#9a9a9a;}
 footer .footer-copyright a {color:#c0c0c0; font-weight: 300}
 footer .footer-copyright ul {margin: -6px 0 0;}
 footer .footer-copyright li {display: inline;}
 footer .footer-copyright li img  {width: 32px; height: auto;}
 footer .footer-copyright .copyright {margin-top: 2px;}

 /*** Layout ***/
 #whyus h3 {margin-top:0;}
 #whyus h3, #ourteam h3, #ourprocess h3, #ourteam h3, #testimonials h3, .generalrow h3, #ourservices h3 {display: block; font-weight: 300; !important}
 #whyus {padding: 60px 0;}
 #ourteam .col img {overflow: hidden; display: block; width: 100%}
 #ourteam .row .col {padding: 0}
 #ourteam .row {margin-bottom: 0}
 #ourteam p {margin-top: 0;}
 #ourteam .generalrow {padding: 3% 0}
 #ourprocess {background-color: white; padding: 5% 0;}
 #ourprocess .valign-wrapper{height: 200px;}
 #testimonials {overflow: hidden; padding: 60px 0}
 #testimonials .slider {height: 250px!important}
 #testimonials .slider .slides {height: 200px!important; background: transparent;}
 #testimonials .slider .slides h5 {line-height: 150%}
 #testimonials .slider .slides li .caption {color: #616161; left: 0; width: 100%;}
 #ourservices .row.bg-gray-light {padding: 4% 0;} 
 #getintouch {padding: 5% 0;}
 #getintouch li {display: inline;}
 #getintouch .btn:hover {background: #ff8a34}
 #getintouch .row {margin-bottom: 0;}
 .blueSC {color:#3e466e}
 .orangeSC {background: #ef6e30; margin-top: 15px;}
 .bgSC {background: #3e466e;}
 .logo {margin:10px 20px; width: 236px; height: 46px;}
 #banner.parallax-container {top: -64px; max-height: 500px; height: 100%;}
 #banner.parallax-container .parallax img {max-width: 100%;}
 #banner.parallax-container .row {max-height: 500px;}
 .parallax-container {top: -64px;}
 .whyus-grid .row {margin: 4% 0;}
 #banner.parallax-container .row .slide-text {margin-top: calc(10% + 110px);}
 .slide-text {margin: 0 auto; text-align: center;vertical-align: center; display: block; margin: 10%}
 .slide-text h1{font-family: 'Open Sans Condensed', sans-serif; text-transform: uppercase; font-weight: 700; color: white; margin-bottom: 0;} 
 .slide-text h5{color:white; margin-top: 1%; font-weight: 300;}
 .generalrow {background: #3e466e;}
 .processimage {width: auto; margin: 134px 0;}
 .process img {margin:0 auto; width: auto;}
 .fixmargin {margin-bottom: 5%;}
 .info-why-us {color:white; font-weight: 300; font-size: 22px; margin: 14px 0;}
 .whyus-grid p {padding: 0 8px;}
 .services-grid {padding-top: 60px; padding-bottom: 60px;}
 .calltoaction li {display: inline;}
 .calltoaction li span {color:#ffffff; font-size: 1.5rem}
 .btn {box-shadow: none;}
 .btn:hover {background-color:#4e588b; box-shadow: none;}
 .getintouch .slide-text h1 {margin-top: 80px;}
 .getintouch .slide-text h1 {margin-top: 32px; margin-bottom: 48px;}
 .grey {padding: 2% 0;}
 footer .row {margin-bottom: 0;}
 a.btn-large {font-size: 1.5em; font-weight: 300;}
 h5, h3 {font-weight: 300;}