/* - - GENERAL - - */
  .text-purple-SC {
    color: #3e466e !important; }

  .bg-purple-SC {
    background: #3e466e !important; }

  html {
    position: relative;
    min-height: 100%; }

  body.with-footer {
    margin-bottom: 56px;
    background-color: #eee; }

  h3, h5 {
    font-weight: 300 !important; }

  #banner.parallax-container .row {
    height: 100%;
  }

  #banner.parallax-container {  
    overflow: hidden;
    height: calc(500px + 64px); }

  .parallax-container {
    top: -64px; }

  .slide-text {
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    display: block; }
    .slide-text h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      color: white; }
    .slide-text a.btn-large, .slide-text button.btn-large {
      font-size: 1.2em; }

  .grey {
    padding: 2% 0; }

  .btn {
    box-shadow: none; }
    .btn:hover {
      background-color: #3e466e;
      box-shadow: none; }

  nav.nav-SC {
    background-color: transparent !important;
    position: relative;
    z-index: 2;
    box-shadow: none !important; }
    nav.nav-SC ul a {
      font-size: 1.1rem;
      text-transform: uppercase;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0 11px;
      margin-left: 4px;
      margin-right: 4px;
      box-shadow: none;
      z-index: 1; }
      nav.nav-SC ul a.btn, nav.nav-SC ul a.btn-large, nav.nav-SC ul a.btn-large, nav.nav-SC ul a.btn-flat, nav.nav-SC ul a.btn-floating {
        padding: 0 11px;
        margin-left: 4px;
        margin-right: 4px; }
    nav.nav-SC ul.right.hide-on-med-and-down a:hover {
      background-color: #3e466e; }
    nav.nav-SC ul a.btn:hover, nav.nav-SC ul a.btn-large:hover, nav.nav-SC ul a.btn-large:hover, nav.nav-SC ul a.btn-flat:hover, nav.nav-SC ul a.btn-floating:hover {
      box-shadow: none; }
    nav.nav-SC .nav-wrapper .logo {
      margin: 10px 20px;
      width: 236px;
      height: 46px; }
    nav.nav-SC .nav-wrapper .button-collapse i {
      margin-right: 10px; }
  #sidenav-overlay {
    z-index: 0 !important; }
  .side-nav a.btn {
    color: white; }

  footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
  footer .bg-purple-SC {
    padding: 3% 0; }
  footer .footer-copyright {
    background: #343434;
    padding: 20px 0 16px;
    color: #9a9a9a; }
    footer .footer-copyright a {
      color: #c0c0c0;
      font-weight: 300; }
    footer .footer-copyright ul {
      margin: -6px 0 0; }
      footer .footer-copyright ul li {
        display: inline; }
        footer .footer-copyright ul li img {
          width: 32px;
          height: auto; }
    footer .footer-copyright .copyright {
      margin-top: 2px; }
  footer .row {
    margin-bottom: 0; }

  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; 
    -webkit-box-shadow: 0 0 0px 1000px none inset;
    -webkit-text-fill-color: #343434; }

  /* - - - - - - - - - - Responsive - - - - - - - - - - */
  @media only screen and (max-width: 992px) {
    .parallax img {
      height: 150%;
      width: auto; }
    footer .bg-purple-SC h3 {
      font-size: 2.8rem; } }
  @media only screen and (max-width: 768px) {
    footer .bg-purple-SC h3 {
      font-size: 2.17rem; } }
  @media only screen and (max-width: 600px) {
    body.with-footer {
      margin-bottom: 105px; }
    footer .bg-purple-SC h3 {
      text-align: center;
      font-size: 2.9rem; }
    footer.footer .bg-purple-SC .valign-wrapper {
      display: block;
      text-align: center; }
    footer.footer .bg-purple-SC .valign-wrapper a {
      margin-bottom: 1.46rem; }
    .footer-copyright{
      text-align: center; }
    .footer-copyright ul {
      float: none !important;
      margin-top: 10px !important; } }
  @media only screen and (max-width: 420px) {
    footer .bg-purple-SC h3 {
      font-size: 2.56rem; } }
  @media only screen and (max-width: 370px) {
    footer .bg-purple-SC h3 {
      font-size: 2.2rem; } }
/* - - GENERAL - - */

/* - - INDEX - - */
  body.with-footer-index {
    margin-bottom: calc(6% + 87px + 50px); 
    background-color: #f5f5f5; }

  #whyus {
    padding-top: 60px;
    padding-bottom: 0px;
    position: relative;
    top: -64px; }
    #whyus .fixmargin {
      margin-bottom: 60px; }
    #whyus h3 {
      margin-top: 0; }
    #whyus .info-why-us {
      color: white;
      font-weight: 300;
      font-size: 22px;
      margin: 14px 0;
      line-height: 1.2; }

  .whyus-grid .row {
    margin-top: 0;
    margin-bottom: 0; }
  .whyus-grid .row .margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 20px; }
  .whyus-grid p {
    padding: 0 8px; }

  #emailcapturing .parallax-container {
    overflow: hidden;
    height: initial; }
  #emailcapturing p {
    font-family: 'roboto';
    font-size: 1rem;
    margin-top: 0; }
  #emailcapturing form .box-send-email {
    position: relative; }
  #emailcapturing form input[type="email"] {
    padding-left: 0.5rem;
    height: 54px;
    width: calc(100% - 142px);
    color: white; }
  #emailcapturing form button {
    position: absolute;
    right: 0px;
    top: 0;
    width: 120px; }
  #emailcapturing input[type="email"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9e9e9e !important; }
  #emailcapturing input[type="email"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9e9e9e !important;
    opacity: 1; }
  #emailcapturing input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9e9e9e !important;
    opacity: 1; }
  #emailcapturing input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9e9e9e !important; }
  #emailcapturing input[type="email"]:-webkit-autofill, #emailcapturing input[type="email"]:-webkit-autofill:hover, #emailcapturing input[type="email"]:-webkit-autofill:focus, #emailcapturing input[type="email"]:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; 
    -webkit-box-shadow: 0 0 0px 1000px none inset;
    -webkit-text-fill-color: white; }

  #ourteam {
    position: relative;
    top: -64px; }
    #ourteam .row .col.five-photos {
      width: 20%;
      margin-left: auto;
      left: auto;
      right: auto; }
    #ourteam .col img {
      overflow: hidden;
      display: block;
      width: 100%; }
    #ourteam .row {
      margin-bottom: 0; }
      #ourteam .row .col {
        padding: 0; }
    #ourteam p {
      margin-top: 0; }
    #ourteam .bg-purple-SC {
      padding: 3% 0; }

  #ourprocess {
    background-color: white;
    padding: 3% 0;
    position: relative;
    top: -64px; }
    #ourprocess .processimage {
      width: auto; }
    #ourprocess .process img {
      margin: 0 auto;
      width: auto;
      max-width: 100%; }

  #testimonials {
    overflow: hidden;
    padding: 60px 0 0 0;
    position: relative;
    top: -64px; }
    #testimonials .slider {
      height: 250px !important; }
      #testimonials .slider .indicators .indicator-item.active {
        background-color: #3e466e; }
      #testimonials .slider .slides {
        height: 200px !important;
        background: transparent; }
        #testimonials .slider .slides h5 {
          line-height: 1.3; }
        #testimonials .slider .slides li .caption {
          color: #616161;
          left: 0;
          width: 100%; }

  #technologies {
    background: #343434;
    padding: 30px 0;
    position: relative;
    top: -64px; }
    #technologies .card-panel {
      border-top: 5px solid #4e588b;
      border-radius: 0;
      padding: 15px 0;
      margin-bottom: 0;
      font-size: 0.89rem; }
    #technologies .margin-botton-tecnologies {
      margin-bottom: 20px; }

  a.btn-large, button.btn-large {
    font-size: 1.5em;
    font-weight: 300; }

   a.btn-large, button.btn-large {
    font-size: 1.2em;
    font-weight: 300; }

  /* - - - - - - - - - - Responsive - - - - - - - - - - */
  @media only screen and (min-width: 1000px) {
    #ourteam .row .col.five-photos {
      width: 10%; } }
  @media only screen and (max-width: 768px) {
    .slider .slides li .caption {
      top: 0; } 
    .whyus-grid p {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 600px) {
    body.with-footer-index {
      margin-bottom: 280px; }
    #emailcapturing form .box-send-email {
      text-align: center; }
    #emailcapturing form input[type="email"] {
      width: calc(100% - 0.5rem); }
    #emailcapturing form button {
      position: relative; }
    #testimonials .slider {
      height: 220px !important; }
    #testimonials .slider .slides {
      height: 180px !important; }
    .slider .slides li .caption {
      top: 0; } }
  @media only screen and (max-width: 480px) {
    body.with-footer-index {
      margin-bottom: 270px; }
    #testimonials .slider {
      height: 300px !important; }
    #testimonials .slider .slides {
      height: 250px !important; } }
  @media only screen and (max-width: 420px) {
    body.with-footer-index {
      margin-bottom: 260px; }
    #ourteam h3 {
      font-size: 2.6rem; }
    #testimonials h3 {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 370px) {
    #banner .slide-text h1 {
      font-size: 3.6rem; }
    #whyus h3 {
      font-size: 2.5rem; }
    #ourteam h3 {
      font-size: 2.2rem; }
    #testimonials h3 {
      font-size: 2.5rem; }
    #testimonials .slider {
      height: 310px !important; }
    #testimonials .slider .slides {
      height: 280px !important; } }
  @media only screen and (max-width: 320px) {
    #testimonials .slider {
      height: 245px !important; }
    .slides h5 {
      font-size: 1.2rem; }
    #testimonials h3 {
      font-size: 2.3rem; } }
/* - - INDEX - - */

/* - - OURSERVICES - - */
  .bg-gray-light {
    background-color: #eee; }
  #ourservices {
    margin-top: -64px; }
  #ourservices .bg-gray-light {
    padding: 4% 0; }
  #ourservices .services-grid {
    padding-bottom: 2px; }
/* - - OURSERVICES - - */

/* - - GETINTOUCH - - */
  #getintouch {
    margin-top: -50px; }
  #getintouch .row-getintouch-contact {
    min-height: 333px; }
  #getintouch .row-getintouch-contact form .orangeSC {
    background: #ef6e30;
    margin-top: 15px; }
  #getintouch .row-getintouch-contact form .orangeSC:hover {
    background: #ff8a34; }
  #getintouch .row-getintouch-contact form .row.margin-bottom-zero {
    margin-bottom: 0; }
  #getintouch .row-getintouch-contact .getintouch-container-thanks {
    display: none; }
  .getintouch-container-thanks .col {
    width: 100%; }
  .getintouch-container-thanks .box-contact-thanks {
    color: #616161;
    text-align: center; }
/* - - GETINTOUCH - - */

/* - - PRIVACY - - */
  #privacy {
    margin-top: -64px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 300;
    color: #313131; }
  #privacy .n-title-privacy {
    font-size: 30px; }
  #privacy p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px; }
/* - - PRIVACY - - */