#getintouch {
  margin-top: -50px; }
#getintouch .row-getintouch-contact {
  min-height: 333px; }
#getintouch .row-getintouch-contact form .orangeSC {
  background: #ef6e30;
  margin-top: 15px; }
#getintouch .row-getintouch-contact form .orangeSC:hover {
  background: #ff8a34; }
#getintouch .row-getintouch-contact form .row.margin-bottom-zero {
  margin-bottom: 0; }
#getintouch .row-getintouch-contact .getintouch-container-thanks {
  display: none; }
.getintouch-container-thanks .col {
  width: 100%; }
.getintouch-container-thanks .box-contact-thanks {
  color: #616161;
  text-align: center; }