body.with-footer-index {
  margin-bottom: calc(6% + 87px + 50px); 
  background-color: #f5f5f5; }

#whyus {
  padding-top: 60px;
  padding-bottom: 0px;
  position: relative;
  top: -64px; }
  #whyus .fixmargin {
    margin-bottom: 60px; }
  #whyus h3 {
    margin-top: 0; }
  #whyus .info-why-us {
    color: white;
    font-weight: 300;
    font-size: 22px;
    margin: 14px 0;
    line-height: 1.2; }

.whyus-grid .row {
  margin-top: 0;
  margin-bottom: 0; }
.whyus-grid .row .margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 20px; }
.whyus-grid p {
  padding: 0 8px; }

#emailcapturing .parallax-container {
  overflow: hidden;
  height: initial; }
#emailcapturing p {
  font-family: 'roboto';
  font-size: 1rem;
  margin-top: 0; }
#emailcapturing form .box-send-email {
  position: relative; }
#emailcapturing form input[type="email"] {
  padding-left: 0.5rem;
  height: 54px;
  width: calc(100% - 142px);
  color: white; }
#emailcapturing form button {
  position: absolute;
  right: 0px;
  top: 0;
  width: 120px; }
#emailcapturing input[type="email"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #9e9e9e !important; }
#emailcapturing input[type="email"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9e9e9e !important;
  opacity: 1; }
#emailcapturing input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9e9e9e !important;
  opacity: 1; }
#emailcapturing input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9e9e9e !important; }
#emailcapturing input[type="email"]:-webkit-autofill, #emailcapturing input[type="email"]:-webkit-autofill:hover, #emailcapturing input[type="email"]:-webkit-autofill:focus, #emailcapturing input[type="email"]:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; 
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  -webkit-text-fill-color: white; }

#ourteam {
  position: relative;
  top: -64px; }
  #ourteam .row .col.five-photos {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto; }
  #ourteam .col img {
    overflow: hidden;
    display: block;
    width: 100%; }
  #ourteam .row {
    margin-bottom: 0; }
    #ourteam .row .col {
      padding: 0; }
  #ourteam p {
    margin-top: 0; }
  #ourteam .bg-purple-SC {
    padding: 3% 0; }

#ourprocess {
  background-color: white;
  padding: 3% 0;
  position: relative;
  top: -64px; }
  #ourprocess .processimage {
    width: auto; }
  #ourprocess .process img {
    margin: 0 auto;
    width: auto;
    max-width: 100%; }

#testimonials {
  overflow: hidden;
  padding: 60px 0 0 0;
  position: relative;
  top: -64px; }
  #testimonials .slider {
    height: 250px !important; }
    #testimonials .slider .indicators .indicator-item.active {
      background-color: #3e466e; }
    #testimonials .slider .slides {
      height: 200px !important;
      background: transparent; }
      #testimonials .slider .slides h5 {
        line-height: 1.3; }
      #testimonials .slider .slides li .caption {
        color: #616161;
        left: 0;
        width: 100%; }

#technologies {
  background: #343434;
  padding: 30px 0;
  position: relative;
  top: -64px; }
  #technologies .card-panel {
    border-top: 5px solid #4e588b;
    border-radius: 0;
    padding: 15px 0;
    margin-bottom: 0;
    font-size: 0.89rem; }
  #technologies .margin-botton-tecnologies {
    margin-bottom: 20px; }

a.btn-large, button.btn-large {
  font-size: 1.5em;
  font-weight: 300; }

/* - - - - - - - - - - Responsive - - - - - - - - - - */
@media only screen and (min-width: 1000px) {
  #ourteam .row .col.five-photos {
    width: 10%; } }
@media only screen and (max-width: 768px) {
  .slider .slides li .caption {
    top: 0; } 
  .whyus-grid p {
    font-size: 1.4rem; } }
@media only screen and (max-width: 600px) {
  body.with-footer-index {
    margin-bottom: 280px; }
  #emailcapturing form .box-send-email {
    text-align: center; }
  #emailcapturing form input[type="email"] {
    width: calc(100% - 0.5rem); }
  #emailcapturing form button {
    position: relative; }
  #testimonials .slider {
    height: 220px !important; }
  #testimonials .slider .slides {
    height: 180px !important; }
  .slider .slides li .caption {
    top: 0; } }
@media only screen and (max-width: 480px) {
  body.with-footer-index {
    margin-bottom: 270px; }
  #testimonials .slider {
    height: 300px !important; }
  #testimonials .slider .slides {
    height: 250px !important; } }
@media only screen and (max-width: 420px) {
  body.with-footer-index {
    margin-bottom: 260px; }
  #ourteam h3 {
    font-size: 2.6rem; }
  #testimonials h3 {
    font-size: 2.7rem; } }
@media only screen and (max-width: 370px) {
  #banner .slide-text h1 {
    font-size: 3.6rem; }
  #whyus h3 {
    font-size: 2.5rem; }
  #ourteam h3 {
    font-size: 2.2rem; }
  #testimonials h3 {
    font-size: 2.5rem; }
  #testimonials .slider {
    height: 310px !important; }
  #testimonials .slider .slides {
    height: 280px !important; } }
@media only screen and (max-width: 320px) {
  #testimonials .slider {
    height: 245px !important; }
  .slides h5 {
    font-size: 1.2rem; }
  #testimonials h3 {
    font-size: 2.3rem; } }