/*!
 * SoftwareCriollo (http://www.softwarecriollo.com)
 * Copyright 2016 SoftwareCriollo
 */
/*** General ***/
html {
  position: relative;
  min-height: 100%; }

.bg-gray-light {
  background-color: #eee; }

body.with-footer {
  margin-bottom: 56px;
  background-color: #eee; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.generalrow {
  background: #3e466e; }

.generalrow .container .valign-wrapper .col h3 {
  font-size: 2.9rem; }

.detect-footer-index {
  min-height: 120px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 5% 0; }

nav {
  background-color: transparent;
  position: relative;
  z-index: 2;
  box-shadow: none; }
  nav ul a {
    font-size: 1.1rem;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 11px;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: none;
    z-index: 1; }
    nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
      padding: 0 11px;
      margin-left: 4px;
      margin-right: 4px; }
  nav ul.right.hide-on-med-and-down a:hover {
    background-color: #3e466e; }
  nav .nav-wrapper .button-collapse i {
    margin-left: 10px; }

#sidenav-overlay {
  z-index: 0; }

.side-nav a.btn {
  color: white; }

footer .generalrow {
  padding: 3% 0; }
footer .footer-copyright {
  background: #343434;
  padding: 20px 0 16px;
  color: #9a9a9a; }
  footer .footer-copyright a {
    color: #c0c0c0;
    font-weight: 300; }
  footer .footer-copyright ul {
    margin: -6px 0 0; }
  footer .footer-copyright li {
    display: inline; }
    footer .footer-copyright li img {
      width: 32px;
      height: auto; }
  footer .footer-copyright .copyright {
    margin-top: 2px; }
footer .row {
  margin-bottom: 0; }

/*** General ***/
/*** Layout ***/
#whyus h3, #ourteam h3, #ourprocess h3, #ourteam h3, #testimonials h3, .generalrow h3, #ourservices h3 {
  display: block;
  font-weight: 300 !important; }

#whyus {
  padding: 60px 0; }
  #whyus h3 {
    margin-top: 0; }

#ourteam .col img {
  overflow: hidden;
  display: block;
  width: 100%; }
#ourteam .row {
  margin-bottom: 0; }
  #ourteam .row .col {
    padding: 0; }
#ourteam p {
  margin-top: 0; }
#ourteam .generalrow {
  padding: 3% 0; }

#ourprocess {
  background-color: white;
  padding: 5% 0; }
  #ourprocess .valign-wrapper {
    height: 200px; }

#testimonials {
  overflow: hidden;
  padding: 60px 0; }
  #testimonials .slider {
    height: 250px !important; }
    #testimonials .slider .slides {
      height: 200px !important;
      background: transparent; }
      #testimonials .slider .slides h5 {
        line-height: 150%; }
      #testimonials .slider .slides li .caption {
        color: #616161;
        left: 0;
        width: 100%; }

#ourservices .row.bg-gray-light {
  padding: 4% 0; }

#getintouch {
  padding: 5% 0; }
  #getintouch li {
    display: inline; }
  #getintouch .btn:hover {
    background: #ff8a34; }
  #getintouch .row {
    margin-bottom: 0; }
  #getintouch .slide-text h1 {
    margin-top: 80px;
    margin-top: 32px;
    margin-bottom: 48px; }

.blueSC {
  color: #3e466e; }

.orangeSC {
  background: #ef6e30;
  margin-top: 15px; }

.bgSC {
  background: #3e466e; }

.logo {
  margin: 10px 20px;
  width: 236px;
  height: 46px; }

#banner.parallax-container {
  top: -64px;
  max-height: 500px;
  height: 100%; }
  #banner.parallax-container .parallax img {
    max-width: 100%; }
  #banner.parallax-container .row {
    max-height: 500px; }
    #banner.parallax-container .row .slide-text {
      margin-top: calc(10% + 110px); }

.parallax-container {
  top: -64px; }

.whyus-grid .row {
  margin: 4% 0; }
.whyus-grid p {
  padding: 0 8px; }

.slide-text {
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  display: block;
  margin: 10%; }
  .slide-text h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-bottom: 0; }
  .slide-text h5 {
    color: white;
    margin-top: 1%;
    font-weight: 300; }

.processimage {
  width: auto;
  margin: 134px 0; }

.process img {
  margin: 0 auto;
  width: auto; }

.fixmargin {
  margin-bottom: 5%; }

.info-why-us {
  color: white;
  font-weight: 300;
  font-size: 22px;
  margin: 14px 0; }

.services-grid {
  padding-top: 60px;
  padding-bottom: 60px; }

.calltoaction li {
  display: inline; }
  .calltoaction li span {
    color: white;
    font-size: 1.5rem; }

.btn {
  box-shadow: none; }
  .btn:hover {
    background-color: #4e588b;
    box-shadow: none; }

.grey {
  padding: 2% 0; }

a.btn-large {
  font-size: 1.5em;
  font-weight: 300; }

h5, h3 {
  font-weight: 300; }

/*** Layout ***/
/*!
 * SoftwareCriollo (http://www.softwarecriollo.com)
 * Copyright 2016 SoftwareCriollo
 * INDEX
 */
.row .col.five-photos {
  width: 20%;
  margin-left: auto;
  left: auto;
  right: auto; }

/*!
 * SoftwareCriollo (http://www.softwarecriollo.com)
 * Copyright 2016 SoftwareCriollo
 * GETINTOUCH
 */
section#getintouch .row-getintouch-contact {
  min-height: 333px; }

section#getintouch .row-getintouch-contact .getintouch-container-thanks {
  display: none; }

.getintouch-container-thanks .col {
  width: 100%; }

.getintouch-container-thanks .box-contact-thanks {
  color: #616161;
  text-align: center; }

.parallax-container#banner .parallax.add-overflow,
.parallax-container#banner .row.getintouch.add-overflow {
  overflow: hidden; }

/*!
 * SoftwareCriollo (http://www.softwarecriollo.com)
 * Copyright 2016 SoftwareCriollo
 * TECNOLOGIES
 */
#technologies {
  background: #3b3b3b;
  padding: 30px 0; }
  #technologies .card-panel {
    border-top: 5px solid #4d5788;
    border-radius: 0;
    padding: 15px;
    margin-bottom: 0; }
  #technologies .card-panel {
    font-size: 0.89rem;
    padding-left: 0;
    padding-right: 0; }
  #technologies .margin-botton-tecnologies {
    margin-bottom: 20px; }

/*!
 * SoftwareCriollo (http://www.softwarecriollo.com)
 * Copyright 2016 SoftwareCriollo
 * RESPONSIVE
 */
@media (min-width: 1000px) {
  .row .col.five-photos {
    width: 10%; } }
@media (min-width: 1200px) {
  #banner.parallax-container .row .slide-text {
    margin-top: 228px; }

  #banner.getintouch.parallax-container .row .slide-text {
    margin-top: 228px; }

  section#technologies {
    padding-bottom: 4%; }

  .detect-footer-index {
    padding: 4% 0; } }
@media (min-width: 2500px) {
  section#technologies {
    padding-bottom: 3%; } }
@media (min-width: 3500px) {
  section#technologies {
    padding-bottom: 2%; } }
@media (min-width: 4900px) {
  .detect-footer-index {
    padding: 4% 0 3% 0; } }
@media (max-width: 890px) {
  .parallax-container#banner .row .slide-text h1 {
    font-size: 3.5rem; }

  #banner.parallax-container .row .slide-text {
    margin-top: calc(10% + 110px); }

  .getintouch .slide-text h1 {
    margin-bottom: 34px; }

  .detect-footer-index {
    min-height: 110px; }

  .generalrow .container .valign-wrapper .col h3 {
    font-size: 2.81rem; } }
@media (max-width: 768px) {
  .parallax-container#banner .row .slide-text h1 {
    font-size: 3rem; }

  #banner.parallax-container .row .slide-text {
    margin-top: 136px;
    margin-bottom: 12px; }

  .slider .slides li .caption {
    top: 0; }

  .detect-footer-index {
    min-height: 150px; }

  .generalrow .container .valign-wrapper .col h3 {
    font-size: 2.82rem; } }
@media (max-width: 640px) {
  #testimonials .slider {
    height: 260px !important; }

  #testimonials .slider .slides {
    height: 225px !important; }

  .parallax-container#banner .row .slide-text h1 {
    font-size: 2.6rem; }

  #banner.parallax-container .row .slide-text {
    margin-top: 136px;
    margin-bottom: 12px; } }
@media (max-width: 576px) {
  section#ourprocess .process .valign-wrapper.processimage img {
    width: 92%; }

  .parallax-container#banner .row .slide-text h1 {
    font-size: 2.2rem; }

  #banner.parallax-container .row .slide-text {
    margin-top: 100px;
    margin-bottom: 0px; }

  .detect-footer-index {
    min-height: 140px; } }
@media (max-width: 480px) {
  #testimonials .slider {
    height: 285px !important; }

  #testimonials .slider .slides {
    height: 250px !important; }

  section#ourprocess .process .valign-wrapper.processimage {
    margin: 94px 0px; } }

/*# sourceMappingURL=main.css.map */
